<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.myhub.instanttransfer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myhubapp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GoogleSans-Bold.ttf</string>
		<string>GoogleSans-BoldItalic.ttf</string>
		<string>GoogleSans-Italic.ttf</string>
		<string>GoogleSans-Medium.ttf</string>
		<string>GoogleSans-MediumItalic.ttf</string>
		<string>GoogleSans-Regular.ttf</string>
		<string>GoogleSans-SemiBold.ttf</string>
		<string>GoogleSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ctrip</string>
		<string>pinduoduo</string>
		<string>openapp.jdmobile</string>
		<string>taobao</string>
		<string>imeituan</string>
		<string>iosamap</string>
		<string>alipay</string>
		<string>baiduboxapp</string>
		<string>vipshop</string>
		<string>tmall</string>
		<string>meituanwaimai</string>
		<string>kwai</string>
		<string>snssdk1128</string>
		<string>eleme</string>
		<string>qunariphone</string>
		<string>diditaxi</string>
		<string>lianjiabeike</string>
		<string>xhsdiscover</string>
		<string>dianping</string>
		<string>lianjia</string>
		<string>ksnebula</string>
		<string>sinaweibo</string>
		<string>fleamarket</string>
		<string>1641486558</string>
		<string>id785385147</string>
		<string>id959841854</string>
		<string>id959841453</string>
		<string>id959840394</string>
		<string>id959841113</string>
		<string>id387682726</string>
		<string>id959841443</string>
		<string>1094591345</string>
		<string>id1094591345</string>
		<string>id454434967</string>
		<string>id594457652</string>
		<string>id1182474649</string>
		<string>id1617391485</string>
		<string>id6443575749</string>
		<string>id1567026344</string>
		<string>suning</string>
		<string>baiduhaokan</string>
		<string>bdminivideo</string>
		<string>baiduboxlite</string>
		<string>baiduboxmission</string>
		<string>zhihu</string>
		<string>wireless1688</string>
		<string>iqiyi</string>
		<string>weixin</string>
		<string>qihooloan</string>
		<string>weishi</string>
		<string>alipays</string>
		<string>youku</string>
		<string>travelguide</string>
		<string>wbmain</string>
		<string>taobaotravel</string>
		<string>openjdlite</string>
		<string>cainiao</string>
		<string>kaola</string>
		<string>OneTravel</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.myhub.down</string>
	</array>
</dict>
</plist>
