# Xcode
*.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock  # 注意：这个文件有时需要上传，见下文说明

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# OS X
.DS_Store
.AppleDouble
.LSOverride
